[Interface]
Address = {{ wireguard_interface_ip }}
DNS = {{ wireguard_dns }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wg_privatekey['content'] | b64decode }}

[Peer]
PublicKey = {{ wg_client_public_key }}
AllowedIPs = {{ wg_client_ip }}