[Interface]
Address = {{ wg_interface_ip }}
DNS = {{ wg_dns }}
ListenPort = {{ wg_port }}
PrivateKey = {{ wg_privatekey['content'] | b64decode }}

[Peer]
PublicKey = {{ wg_client_public_key }}
AllowedIPs = {{ wg_client_ip }}